:root {
  --primary-color: #000d3c;
  --bg-color: #d1e6ef;
  --button-gredient: linear-gradient(
    90deg,
    rgba(20, 78, 173, 1) 5%,
    rgba(0, 13, 60, 1) 54%
  );
  --text-gredient: -webkit-linear-gradient(
    30deg,
    rgb(230, 95, 17) 10%,
    rgba(119, 13, 115, 1) 64%,
    rgba(0, 35, 119, 1) 95%
  );
}

.footerBannerAndClientLogo{
    background: var(--bg-color) ;
    .footerBanner{
        padding: 0 0 2rem 0;
    }
    .client-logo{
      transform: scale(0.8);
      padding: 0 0 3rem 0;
      .title{
        color: black;
        font-weight: 600;
      }
        .client{
           padding: 1rem;
           border-radius: 50%;
        }
    }
}